
body {
	font-family: sans-serif;
	color: black;
	background: white;
}

h1 {
	border-top: 2px black solid;
	margin-top: 1em;
}

h2 {
	margin-top: 1.5em;
}

table { border-collapse: collapse; }
table td { border: 1px solid black; padding: .2em .5em; }
